html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color:rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
}
 #home-wrapper{
   text-align: center;
   margin-top: 40px;
 }

 #project-details{
   text-align: left;
   width: 250px;
   margin-left: 40%;
   margin-top: 20px;
   background-color: rgb(255, 0, 0);
   padding: 10px;
   border-radius: 4px;
   box-shadow: inset;
   color: white;
   margin-bottom: 50px;
 }

 .btn:hover{
  cursor: pointer;
 }

 #v1-media{
   height: 230px;
   width: 230px;
   padding: 10px;
   border: 4px solid black;
   border-radius: 4px;
 }

 #v1-detail-wrapper{
   margin: auto;
   margin-left: 40%;
 }

 #show-color-rect{
   background-color: rgba(var(--r), var(--g), var(--b), var(--a));
   width: 100px;
   height: 100px;
 }

 #address-input{
   width: 300px;
 }