html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color:rgba(255, 255, 255, 1);
}

@font-face {
  font-family: "Century";
  src: url("/fonts/CenturySchL-Roma.ttf");
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
 #home-wrapper{
  margin: auto; 
  /* text-align: center; */
   margin-top: 40px;
   width: 65%;
   
 }

 #project-details{
   text-align: left;
   width: 250px;
   margin-left: 40%;
   margin-top: 20px;
   background-color: rgb(255, 0, 0);
   padding: 10px;
   border-radius: 4px;
   box-shadow: inset;
   color: white;
   margin-bottom: 50px;
 }

 .btn:hover{
  cursor: pointer;
 }

 #v1-media{
   height: 230px;
   width: 230px;
   padding: 10px;
   border: 4px solid black;
   border-radius: 4px;
 }

 #v1-detail-wrapper{
   margin: auto;
   margin-left: 40%;
 }

 #show-color-rect{
   background-color: rgba(var(--r), var(--g), var(--b), var(--a));
   width: 100px;
   height: 100px;
 }

 #address-input{
   width: 300px;
 }

 .century{
   font-family: Century;
   font-weight: lighter;
 }

 #sequential-preview-wrapper{
   width: 100%;
 }

 .image-preview{
   width: 150px;
   height: 150px;
 }

 .sequential-review-item{
   padding: 10px;
   display: inline-block;
   height: 200px;
 }

 .short-address-input{
   width: 120px;
 }

 .error{
   color: orange;
 }

 /* .sequential-review-vertical-items{
   float: left
 } */

 .float-left{
  float: left;
 }

 .float-right{
  float: right;
 }

 .text-btn{
   color: blue;
   cursor: pointer;
   margin-left: 5px;
 }

 a{
   color: blue
 }

 .addr-input{
   border: 1px solid gray;
   border-radius: 8px;
   padding: 10px;
   height: 45px;
   margin-top: 15px;
 }

 .small-address-color{
    width: 10px;
    height: 10px;
    background: hsl(var(--h-value),100%,50%);
    margin-right: 5px;
    margin-top: 7px;
 }

 input {
   border: none;
 }

 input:focus,
 select:focus,
 textarea:focus,
 button:focus {
     outline: none;
 }

 #connect-address-button{
   float: right;
   font-family: Century;
   padding: 10px;
   border: 2px solid gray;
   border-radius: 8px;
   margin-bottom: 20px;
   cursor: pointer;
   color: black
 }

 #connect-address-wrapper{
   width: 100%;
   height: 40px;
 }

 #use-metamask{
  font-family: Century;
  float: right;
  color: orange;
 }


 #preview-explainer{
   width: 100%;
 }

 h3{
   margin-top: 0px;
 }

 .blue {
  color: rgba(0, 148, 255, 1);
 }

 .animal-mint-box{
   width: 45%;
   margin-right: 20px;
 }

 .animal-mint-box>.images{
   margin-top: 20px;
   margin-bottom: 20px;
   height: 90px;
 }

 .images>img{
   height: 90px;
   padding-right: 20px;
 }

 .mint-button{
  text-align: center;
  font-family: Century;
  padding: 5px;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
 }

 #mint-box-wrapper{
   height: 350px;
 }

 #gtap1-og-wrapper{
   height: 200px;
   margin-bottom: 100px;
 }

 .gtap1-input{
  border: 1px solid gray;
  border-radius: 8px;
  padding: 5px;
  height: 40px;
  margin-right: 10px
}

.gtap-mint-button{
  text-align: center;
  font-family: Century;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
 }

 #footer{
   height: 200px;
   width: 100%;
 }
 
 .orange{
   color: orange;
 }

 #meet-animals{
   
 }

 #meet-animals>img{
   /* padding: 20px; */
 }

 .animal-item{
  margin: 20px;
  display: inline-block;
 }

 #animal-detail-info-wrapper{
  width: 100%;
  margin-top: 40px;
  height: 300px;
  margin-bottom: 40px;
 }

 #animal-detail-info-wrapper>h2{
  margin-top: 0px;
 }

 #animal-coloring-book-image{
   float: left;
   width: 300px;
   height: 300px;
   background-color: gray;
   /* border: 1px solid black; */
   margin-right: 20px;
 }

 #animal-detail-info-wrapper>fieldset{
   border-radius: 8px;
 }

 #transfer-history>p{
   margin: 0px;
 }