

#sweater-page{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
#sweater-page>img{
    width: 200px
}

#sweater-page>#connect-address-wrapper>div>#connect-address-button{
    float: none;
}

#info-form>div>input{
    border: 1px solid black;
    width: 300px;
}
#info-form>div>div>input{
    border: 1px solid black;
    width: 300px;
}

#info-form{
    display: block;
}