body{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
img{
    width: 200px
}

#sweater-page>#connect-address-wrapper>div>#connect-address-button{
    float: none;
}

input{
    border: 1px solid black;
    width: 300px;
}

#info-form{
    display: block;
}